* {
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
  margin: 0;
  top: 0;
}

h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

li {
  display: inline;
}

button {
  color: #fff;
  background-color: #025157;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
  height: 45px;
  font: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 50%;
}

.navbar {
  width: 50%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.navbar > lu > li {
  display: inline;
  margin: 0 25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions > a {
  color: #67b54b;
}

.actions > button {
  color: white;
  background-color: #67b54b;
  margin: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.video-section img {
  width: 10%;
}

.publicidad {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.publicidad h2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #025157;
}

.publicidad > p {
  font-family: 'Nunito Sans', sans-serif;
  color: #343434;
}

.publicidad > form p {
  color: #025157;
}

.growing {
  background-color: #a1d683;
  display: flex;
  padding: 5% 15%;
  margin: 0;

}

#growing-text {
  line-height: 24px;
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  padding-right: 100px;
}

#growing-text img {
  width: 25%;
}

#growing-stories {
  flex-grow: 1;
}